.hotel-header {
    text-align: center;
    margin-bottom: 20px;
}

.hotel-images img {
    width: 100%;
    max-width: 240px;
    height: auto;
    margin-right: 10px;
}

.hotel-details {
    display: flex;
    justify-content: space-between;
}

.hotel-info, .hotel-amenities {
    flex: 1;
    margin-right: 20px;
}

.amenities li {
    list-style-type: none;
    padding: 5px 0;
}

.subtitle {
    color: #666;
    font-size: 16px;
}

.rating {
    font-weight: bold;
    color: #4CAF50;
}

.hotel-info h2, .hotel-amenities h2 {
    color: #333;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}
.hotel-container {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    overflow: auto;  
}

.room-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Creates as many columns as needed with a min width of 250px */
    gap: 20px; /* Space between cards */
    padding: 20px; /* Padding around the grid */
}
.room-card {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff; /* Optional: for better visibility */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.hotel-header, .hotel-images, .hotel-details, .room-container {
    margin-bottom: 20px;
}